# Python bytecode và cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Môi trường ảo
venv/
env/
.venv/

# Thư mục log runtime
logs/

# File zip build / gpg không cần thiết
distutils-for-py312.zip
packages.microsoft.gpg

# File mô tả, tài liệu phụ
tree.txt

# Thư mục ẩn build / cache nếu có
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
